body {
  background-position: 20rem 4rem;
}

.ktext h2 {
  top: 47rem;
  left: 27rem;
}

.ktext p {
  top: 51rem;
  left: 12rem;
}

.knight {
  top: 44rem;
}

.cc h2 {
  margin-left: 2rem;
}

.cc ul {
  margin-left: -0.5rem;
}
