/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: black;
  color: white;
  font-size: large;
}

.home {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
  font-size: 1.5rem;
}

.home::before {
  content: "";
  background: url(../images/backgroundk.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 35rem 1rem;
  background-blend-mode: difference;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1153px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}
.home h1 {
  font-family: "Turret Road", cursive;
  font-size: 3.7rem;
  text-align: center;
}

.home h1 a {
  text-decoration: none;
  color: white;
}

.home h1 a:hover {
  color: rgb(102, 102, 229);
}
.mline {
  margin-top: 1rem;
  text-align: center;
  font-family: "Shadows Into Light Two", cursive;
}

.cc {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.2rem;
  font-family: "Tiro Gurmukhi", serif;
  margin-top: 5rem;
  left: 10rem;
}

.cc h2 {
  margin-left: 2.6rem;
  font-family: "Mate SC", serif;
  font-family: "Bungee Inline", cursive;
  text-decoration: underline;
}

.cc ul {
  list-style: none;
  margin-left: 2.5rem;
}
.cc ul li::before {
  content: "\00BB";
}

.cnct {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.2rem;
  font-family: "Tiro Gurmukhi", serif;
  margin-top: 1rem;
  left: 10rem;
}
.cnct h2 {
  margin-left: 2.6rem;
  font-family: "Mate SC", serif;
  font-family: "Bungee Inline", cursive;
  text-decoration: underline;
}
.cnct ul {
  list-style: none;
  display: inline-flex;
  margin-left: 1.4rem;
}
.cnct ul li {
  vertical-align: center;
  padding: 1rem;
}
.cnct ul li a {
  text-decoration: none;
  color: white;
}

.dc {
  width: 5rem;
  opacity: 0.7;
}

.dc:hover {
  opacity: 1;
}

.pay {
  width: 5rem;
  opacity: 0.7;
}

.pay:hover {
  opacity: 1;
}

.pay img {
  padding-top: 0.5rem;
}
.pg2 {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem;
  padding-left: 6rem;
}

.pg2 .knight img {
  width: 20rem;
}

.ktext {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.ktext p {
  font-family: "Pacifico", cursive;
  text-align: center;
}

.ktext h2 {
  font-family: "Bungee Inline", cursive;
  width: 30rem;
  text-decoration: underline;
}
