body {
  background-color: black;
  color: white;
  font-size: large;
  text-align: center;
  background-image: url(background1.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: 20em 1em;
  background-blend-mode: difference;
}
header {
  font-family: "Turret Road", cursive;
  font-size: xx-large;
}

header a {
  text-decoration: none;
  color: white;
}

header h1 a:hover {
  color: rgb(102, 102, 229);
}
main {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 1.5rem;
}
