body {
  background-color: black;
  color: white;
  font-size: large;

  background-image: url(backgroundk.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: 20em 1em;
  background-blend-mode: difference;
}
header {
  font-family: "Turret Road", cursive;
  font-size: xx-large;
  text-align: center;
}

header a {
  text-decoration: none;
  color: white;
}

header h1 a:hover {
  color: rgb(102, 102, 229);
}
main {
  font-size: 1.5rem;
}

.cc {
  font-size: 1.2rem;
  font-family: "Tiro Gurmukhi", serif;
  margin-top: 5rem;
}
.mline {
  text-align: center;
  font-family: "Shadows Into Light Two", cursive;
}

.cc h2 {
  margin-left: 5rem;
  font-family: "Mate SC", serif;
  font-family: "Bungee Inline", cursive;
  text-decoration: underline;
}

.cc ul {
  list-style: none;
  margin-left: 2.5rem;
}
.cc ul li::before {
  content: "\00BB";
}

footer ul {
  list-style: none;
  display: inline-flex;
}
footer ul li {
  vertical-align: center;
  padding: 2rem;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

.dc {
  width: 5rem;
  opacity: 0.7;
}

.dc:hover {
  opacity: 1;
}

.pay {
  width: 5rem;
  opacity: 0.7;
}

.pay:hover {
  opacity: 1;
}
